@media (min-width: 600px) {
  /* ad */
  .ad {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 300px 300px 300px;
    grid-template-areas:
      "title title"
      "a b"
      "c d"
      "e f";
  }

  /* activity */
  .activity {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 250px 250px 250px;
    grid-template-areas:
      "title title"
      "a b"
      "c d"
      "e f";
  }

  .activity-card__img {
    height: 80%;
  }
  /* Footer */
  footer {
    padding: 3.125rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  /* header-nav */
  .header-nav--anchor {
    width: auto;
    order: initial;
  }

  .header-nav__link {
    border-bottom: none;
    padding: 0rem 1.25rem 0.625rem 4rem;
  }

  .header-nav-link--logo {
    padding: 0;
  }

  /* header-search */
  .submit-text {
    display: block;
  }

  .icon-search {
    display: none;
  }

  /* ad */
  .ad {
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 1.25rem;

    grid-template-columns: repeat(3, 290px);
    grid-template-rows: 50px 250px 250px;
    grid-template-areas:
      "title title title"
      "a b c"
      "d e f";
  }

  .ad-card__img {
    height: 130px;
  }

  /* ad-featured */
  .ad-featured {
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 1.25rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 180px 180px;
    grid-template-areas:
      "title title"
      "a b"
      "c .";
  }

  /* activity */

  .activity {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 250px 250px 250px;
    grid-template-areas:
      "title title title"
      "a b d"
      "a c d"
      "e f .";
  }

  .large-card-1 {
    grid-area: a;
  }
  .large-card-2 {
    grid-area: d;
  }
  .large-card-1 .activity-card__img,
  .large-card-2 .activity-card__img {
    height: 90%;
  }
}

@media (min-width: 1200px) {
  main,
  header {
    max-width: 1400px;
    margin: auto;
  }

  /* Main */
  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "ad ad ad-featured"
      "activity activity activity";
    justify-content: center;
  }

  /* ad */
  .ad {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr;
  }

  /* ad-featured */
  .ad-featured {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-template-areas:
      "title"
      "a"
      "b"
      "c";
  }

  .ad-featured-card__img {
    width: 35%;
    height: 158px;
  }

  /* activity */
  .activity {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 250px 250px;
    grid-template-areas:
      "title title title title"
      "a b d e"
      "a c d f";
    margin-top: 1.875rem;
  }

  /* Footer */
  footer {
    justify-content: space-around;
  }
}
