:root {
  --desktop-margin: 1.25rem;
}

@media (min-width: 768px) {
  /* 
  Change in css grid. 
  Modification of the ad section and the activity section. 
  */

  .advertisements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-template-areas:
      "title title"
      "product-card product-card"
      "product-card product-card"
      "product-card product-card";
  }

  .activity {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 250px 250px 250px;
    grid-template-areas:
      "title title"
      "activity-card activity-card"
      "activity-card activity-card"
      "activity-card activity-card";
  }

  .activity-card__img {
    height: 80%;
  }

  /* Adapted footer layout */

  footer {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 1280px) {
  main,
  header {
    max-width: 1440px;
    margin: auto;
  }

  /* 
  Adaptation of the navigation bar to desktop 
  and modification of the elements in the search bar.
  */

  .header-nav--anchor {
    width: auto;
    order: initial;
  }

  .header-nav__link--active {
    width: 50%;
    color: var(--primary-color);
    border-top: 3px solid var(--primary-color);
  }

  .header-nav__link {
    border-bottom: none;
  }

  .header-nav-link--logo {
    padding: 0;
  }

  .submit-text {
    display: block;
  }

  .icon-search {
    display: none;
  }

  /* 
  Change in css grid. 
  Changing the layout of the main content.
  Modification of the ad section, 
  the ad featured section 
  and the activity section. 
  */

  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "advertisements advertisements advertisements-featured"
      "activity activity activity";
    justify-content: center;
  }

  .advertisements {
    background-color: var(--background-color);
    border-radius: var(--global-border-radius);
    margin: var(--desktop-margin);

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas:
      "title title title"
      "product-card product-card product-card"
      "product-card product-card product-card";
  }

  .advertisements-card__img {
    height: 135px;
  }

  .advertisements-featured {
    background-color: var(--background-color);
    border-radius: var(--global-border-radius);
    margin: var(--desktop-margin);

    grid-template-columns: 1fr;
    grid-template-rows: 50px 180px 180px 180px;
    grid-template-areas:
      "title"
      "product-card"
      "product-card"
      "product-card";
  }

  .advertisements-featured-card__img {
    width: 35%;
  }

  .activity {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 250px 250px;
    grid-template-areas:
      "title title title title"
      "large-card-1 min-card-1 large-card-2 min-card-3"
      "large-card-1 min-card-2 large-card-2 min-card-4";
  }

  .large-card-1 {
    grid-area: large-card-1;
  }

  .large-card-2 {
    grid-area: large-card-2;
  }
  .large-card-1 .activity-card__img,
  .large-card-2 .activity-card__img {
    height: 90%;
  }
}
