body {
  font-family: "Raleway", sans-serif;
  font-size: 1.0625rem;
  margin: 0 auto;
}

h1,
h2 {
  font-size: 1.4375rem;
}

h3 {
  font-size: 1.0625rem;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  cursor: pointer;
}
/* Header */

header {
  padding: 1.25rem;
}

/* header-nav */

.header-nav-link__img {
  width: 100px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-nav--anchor {
  margin-left: auto;
  width: 100%;
  order: 2;
  display: flex;
  justify-content: space-around;
}

.header-nav__link {
  text-align: center;
  padding: 0rem 1.25rem 0.625rem 0rem;
  border-bottom: 3px solid #f2f2f2;
  width: 50%;
}

.header-nav-link--logo {
  border: none;
  width: auto;
}

.header-nav__link--active {
  width: 50%;
  color: #0065fc;
  border-bottom: 3px solid #0065fc;
}

.header-nav-link--register {
  color: #0065fc;
  font-weight: bold;
  border: none;
  width: auto;
}
/* header-search */

.header-search {
  margin: 1.25rem 0;
}

.header-search h1 {
  padding: 0 0 1.0625rem;
}
.header-search__city {
  display: flex;
  align-items: center;
  padding: 1.25rem 0 0;
}

.submit-text {
  display: none;
}

.header-search__city input[type="text"] {
  padding: 0.875rem;
  font-size: 1.0625rem;
  border: 1px solid #dddddd;
}

.header-search__city button {
  padding: 1rem;
  background: #0065fc;
  color: white;
  font-size: 0.9375rem;
  border: 1px solid #ffffff;
  border-left: none;
  border-radius: 0rem 1.25rem 1.25rem 0rem;
}

.icon-location {
  background: #f2f2f2;
  padding: 1.125rem;
  font-size: 0.9375rem;
  border-radius: 0.9375rem 0rem 0rem 0.9375rem;
}

.info {
  display: flex;
  align-items: flex-start;
  margin-top: 1.25rem;
}

.icon-info {
  color: #0065fc;
  margin-right: 0.625rem;
}

.header-search__filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.875rem 0;
}

.header-search-filter__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.header-search-filter__item button {
  align-items: center;
  font-weight: bold;
  border: 3px solid #f2f2f2;
  border-radius: 3rem;
  padding-right: 2.9em;
  margin-left: 0.125rem;
  margin-bottom: 0.25rem;
  background-color: #ffffff;
  font-size: 0.9375rem;
}

.icon-filter {
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
  width: 1rem;
  height: 1rem;
  padding: 1.1rem;
  margin-right: 1.1rem;
  margin-left: -0.5rem;
}

.header-search__info {
  display: flex;
}

/* Main */

main {
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  grid-template-areas:
    "ad-featured"
    "ad"
    "activity";
}

.ad__card,
.ad-featured__card,
.activity__card {
  background-color: #ffffff;
  padding: 0.3125rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}

.icon-default-star {
  font-size: 0.8125rem;
  color: #dddddd;
}
.icon-blue-star {
  font-size: 0.8125rem;
  color: #0065fc;
}
.icon-chart-line {
  font-size: 1.25rem;
}

/* ad */

.ad {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 300px 300px 300px 300px 300px 300px;
  gap: 1.625rem 1.625rem;
  grid-template-areas:
    "title"
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
  grid-area: ad;

  padding: 1.25rem;
}

.ad__title {
  grid-area: title;
  margin: 0.625rem;
}

.ad-card__info {
  margin: 0.625rem;
}

.ad-card__info p {
  padding: 0.625rem 0;
}

.button {
  font-weight: bold;
  font-size: 1.0625rem;
  background: 0;
  border: 0;
  text-align: left;
  margin: 0.625rem;
  cursor: pointer;
}

.ad-card__img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

/* ad-featured */

.ad-featured {
  background-color: #f2f2f2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 180px 180px 180px;
  gap: 1.625rem 1.625rem;
  grid-template-areas:
    "title"
    "a"
    "b"
    "c";
  grid-area: ad-featured;

  padding: 1.25rem;
}

.ad-featured__title {
  grid-area: title;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0.625rem;
}

.ad-featured__card {
  display: flex;
}

.ad-featured-card__img {
  width: 40%;
  object-fit: cover;
  border-radius: 15px 0px 0px 15px;
}

.ad-featured-card__info {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "a"
    "b"
    "."
    "c";

  padding: 1.25rem 1.25rem 0 1.25rem;
}

.ad-featured-card__info .score {
  grid-area: c;
}

/* activity */

.activity {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 300px 300px 300px 300px 300px 300px;
  gap: 1.625rem 1.625rem;
  grid-template-areas:
    "title"
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
  grid-area: activity;

  padding: 1.25rem;
}

.activity__title {
  grid-area: title;
  margin: 0.625rem;
}

.activity__card {
  padding: 0;
}

.activity-card__title {
  padding: 0.8125rem 0 0.625rem 0.9375rem;
  font-size: 1rem;
  margin: 0;
  padding-bottom: 0.3125rem;
  font-weight: bold;
}

.activity-card__img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

/* Footer */

footer {
  background-color: #f2f2f2;
  padding: 3.125rem 0 3.125rem 3.125rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}

.footer-nav li {
  padding-top: 0.625rem;
}

.footer-nav h3 {
  padding: 0.625rem 0 0.625rem 0;
}
